---
whatthidis: dummy so liquid gets processed; don't remove; jeykll will trim anyway
---

/* customize the layount, to do: need to consider the mobile version */

.container {
	max-width: 32rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

/* if media is big enough the space things out */

@media (min-width: 38em) {
	.container {
		max-width: 60rem;
		padding-left: 3rem;
		padding-right: 2rem;
	}
}
.masthead {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1.1rem;
}
.masthead-title {
	margin-left: 1rem;
}
.page, .post {
	margin-bottom: 2em;
}
.post-date {
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	color: #9a9a9a;
}

/* Body text */

p {
	margin-top: 0;
	margin-bottom: 0.75rem;
}

/* tidy up the tables */

table {
	width: auto;
}
thead th {
	background: rgba(240, 240, 240, 1);
}
th {
	padding: .25rem 1rem .25rem 1rem;
}
td {
	white-space: nowrap;
}
.wide-block {
	overflow-x: scroll;
}
.sidebar-toggle {
	position: fixed;
	top: .2rem;
	left: .2rem;
}

/* lighten the sidebar navigation active item a bit more than rgba(255,255,255,.1) */

.sidebar-nav-item.active, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus {
	background-color: rgba(255, 255, 255, .15);
}
.Bibtex {
	font-family: menlo, Monaco, Consolas, "Courier New", Courier, monospace;
	border-radius: 5px;
	border-color: rgba(181, 207, 218, 1);
	background: rgba(181, 207, 218, .5);
}
.Abstract-toggle, .Bibtex-toggle {
	display: inline;
}
#hide-abstract, #show-abstract, #hide-bibtex, #show-bibtex {
	border-radius: 5px;
	border-color: rgba(181, 207, 218, 1);
	background: rgba(181, 207, 218, .25);
	padding: 2px;
	position: fixed;
	left: 12px;
}
#hide-abstract {
	top: 4rem;
}
#show-abstract {
	top: 6rem;
}
#hide-bibtex {
	top: 8rem;
}
#show-bibtex {
	top: 10rem;
}

/* ornate hr */

hr {
	display: block;
	border: 0px;
	height: 16px;
	background-image: url({{ site.baseurl }}/images/pgf-ornament.png);
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 1.5rem 0;
}

/* code */

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 10pt;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(232, 232, 232, 0.2);
}

code {
  padding: 0.1rem;
  font-size: 85%;
  color: #bf616a;
  background-color: #ffffff;
  border-radius: 0px;
}
