/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 60rem;
  padding-left: 4rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
/*@media (min-width: 38em) {
  .container {
    max-width: 38rem;
    padding-left: 4rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 56rem;
    padding-left: 4rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}*/
