<div>
  <h1 class="post-title">Welcome</h1>

  <h2 id="biography">Rodney A.&nbsp;Kennedy &middot; Biography</h2>

  <img src="{{ site.baseurl }}/images/rod_2011b.jpg" align="top" style="margin:5px 25px 5px 0px; float:left; width:30%;">

  <p>Rodney A.&nbsp;Kennedy is a Professor at the Australian National University currently within the Research School of Engineering. He is an electrical engineer with research specialization in wireless communications, signal processing and audio signal processing.</p>

  <p>He has been head of the inaugural Department of Telecommunications Engineering and then Department of Information Engineering in the Research School of Information Sciences and Engineering between 1994 and 2008, and Director of Research 2009&ndash;2010. Professor Kennedy has received over 30 external grants and industry contracts/university consultancies including 15 ARC grants. In addition he has a leading participant in major research centers including the Cooperative Research Centre for Robust and Adaptive Systems (CRASys), National ICT Australia (NICTA) and the ARC Communications Research Network (ACoRN).</p>

  <p>He is an IEEE Fellow and has published in approximately 400 journal papers, conference papers and patents, and has supervised over 47 PhD students. He was an Associate editor for 11 years in the IEEE Transactions on Communications and a member of a number of journal editorial boards. He is a former QEII Fellow and recipient of a number awards including the ATERB medal and the UNSW University medal.</p>
</div>
