<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="{{ site.theme }}">

  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          {% comment %} modifed to use "/index.html" rather than node.url which was broken {% endcomment %}
          <img src="{{ site.baseurl }}/images/ANU-logo.png" align="top" style="margin:0px 25px 0px 0px; float:left; width:170px;">
          <a href="{{ site.baseurl }}/index.html" title="Home">{{ site.title }}</a>
          <br>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">
      {% include intro.html %}

      {% for page in site.pages %}
      <ul>
        {% if page.categories contains 'technote' %}
          <li><a href="{{ page.url }}">{{ page.technote-title }}</a></li>
        {% endif %}
      </ul>
      {% endfor %}
    </div>

    <div class="container content">
      {{ content }}
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if (!checkbox.checked ||
          sidebar.contains(target) ||
          (target === checkbox || target === toggle)) return;

        checkbox.checked = false;
      }, false);
    })(document);
  </script>
</body>

</html>
