a, a > tt {
	color: #666600 ;
	border-bottom: 1px #666600 dotted ;
	text-decoration: none ;
}

a:hover {
	color: #000000 ;
	border-bottom: 1px #000000 dotted ;
}

/************************************************** sections */
h1, h2, h3 {
	color: #000000 ;
	margin-top: 0.7em ;
	margin-bottom: 0.7em ;
	padding-top: 0.5em ;
	padding-bottom: 0.2em ;
	line-height: 1.0 ;
	border-bottom: 2px solid #bfbf8f ;
	max-width: 800px ;
}

h4 {
	color: #000000 ;
	margin-top: 0.3em ;
	margin-bottom: 0.3em ;
	padding-top: 0.5em ;
	padding-bottom: 0.2em ;
	line-height: 1.0 ;
	max-width: 800px ;
	font-weight: bold ;
}

ul {
	margin-left: -1em ;
}

/************************************************** blocks */
.blockcontent {
	text-align: justify;
	max-width: 800px ;
	margin-right: 10px ;
	box-shadow: 0px 2px 12px #bfbfbf ;
}

/************************************************** tables */
table {
	margin-right: auto ;
	box-shadow: 0px 2px 12px #bfbfbf ;
}

table tr.r1 {
	border-bottom: 2px solid black ;
	font-weight: bold ;
	line-height: 22px ;
	background: #f4f605 ;
}

table#grant tr.r5 {
	border-top: 2px solid black ;
	font-weight: bold ;
	background: #e6e6d6 ;
}

/************************************************** images */
img {
	margin-right: auto ;
	border: 2px solid #000000 ;
	box-shadow: 0px 2px 12px #bfbfbf ;
}

img.indented {
	display: block ;
	margin-top: 20px ;
	margin-bottom: 20px ;
	margin-left: 40px ;
}

