tr.r1 {
	border-bottom: 2px solid black ;
	font-weight: bold ;
	line-height: 22px ;
#	background: #c6e6e6 ;
	background: #b6f6f6 ;
}

/* indent table slightly and add trailing pad */
table
{
	background: #ffffdd ;
	margin-left: 0px ;
	margin-right: auto ;
	margin-bottom: 10px ;
}

table#students
{
	margin-left: auto ;
	margin-right: auto ;
	box-shadow: 0px 2px 12px #999999 ;
}

table#glossary
{
	box-shadow: 0px 2px 12px #999999 ;
}


table.imgtable
{
border-collapse:collapse ;
	padding: 0px ;
	margin-left: 0px ;
	margin-right: auto ;
#	box-shadow: 0px 2px 12px #555555 ;
}

table.imgtable img
{
	box-shadow: 0px 2px 12px #444444 ;
}

iframe
{
	display: block ;
	margin-left: 0px ;
	margin-right: auto ;
	box-shadow: 0px 2px 12px #444444 ;
}

table.imgtable td
{
#background-color: red ;
	padding: 10px ;
	margin: 0px ;
	text-align: left ;
}

#table.imgtable td img {display: block ;}
table.imgtable td img
{
	vertical-align: bottom ;
}

img.displayed {
	display: block ;
	margin-top: 20px ;
	margin-bottom: 20px ;
	margin-left: auto ;
	margin-right: auto ;
	box-shadow: 0px 2px 12px #444444 ;
}

div.infoblock > div.blockcontent {
	background: #ffff8f ;
}

#layout-menu {
	background: #b6f6f6;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #223333 ;
}

a,
a > tt,
#layout-menu a.current:link,
#layout-menu a.current:visited,
#layout-menu a:link,
#layout-menu a:visited,
#layout-menu a:hover
{
	color: #0000bb ;
}

#layout-menu {
	border: 2px solid black ;
}

div.menu-category { /* RAK */
	border-top: none ;
	border-bottom: 1px #9999ff solid ;
	margin-top: 12px ;
	padding-top: 1px ;
	padding-bottom: 1px ;
	font-weight: bold ;
	text-align: left ;
}

/* css file for laying out publications exported by bibdesk */

.Bibentry {
	line-height: 120% ;
	padding-top: 5px ;
	padding-bottom: 5px ;
	font: 100% Georgia, serif ;
	border-bottom: 1px solid #e0e0e0 ;
	padding-left: 22px ;
	text-indent: -22px ;
}
.Title, .Pages, .Month, .Date, .Volume, .Author, .Year, .Publisher, .Address {
	font-style: normal ;
}
.Title {
	color: #224b8d ;
}
.Journal, .Conference, .Booktitle {
	font-style: italic ;
}
.Abstract {
	font-size: 85% ;
	line-height: 110% ;
	color: #303030 ;
	padding: 0px ;
	margin-top: 5px ;
	margin-bottom: 8px ;
	padding-left: 0px ;
	text-indent: 0px ;
}
.Bibtex {
	font-family: monaco ;
	font-size: 75% ;
	line-height: 110% ;
	color: #303030 ;
	padding: 5px ;
	margin-top: 5px ;
	margin-bottom: 5px ;
	border-style: solid ;
	border-width: 1px ;
	border-color: #c0c0c0 ;
	background-color: #ffff8f ;
	padding-left: 25px ;
	text-indent: -17px ;
}
form {
	margin:0 ;
	padding:0 ;
}
.CheckBoxes {
	font-size: 85% ;
	margin-top: 2px ;
	margin-bottom: 0px ;
	padding-left: 22px ;
}
.Url {
	font-size: 85% ;
	color: #606060 ;
	padding-right: 8px ;
	padding-top: 2px ;
	padding-bottom: 2px ;
}
