<div id="content">
<!--{% raw %}-->
<!-- Paper Title: Hilbert Space Methods in Signal Processing -->
<!-- Authors: R. A. Kennedy and P. Sadeghi -->
	<div class="Bibentry">[1]
		<span class="Author">R. A. Kennedy and P. Sadeghi, </span>
		<span class="Title">"Hilbert Space Methods in Signal Processing", </span>
		<span class="Publisher">Cambridge University Press, </span>
		<span class="Address">Cambridge, UK, </span>
		<span class="Month">March </span>
		<span class="Date">2013.</span>
		<div class="CheckBoxes">
			<form>
				<input type="button" value="Abstract" onclick="toggle('Kennedy-book:2013_abstract');">&nbsp;<input type="button" value="BibTeX" onclick="toggle('Kennedy-book:2013_bibtex');">
			</form>
		</div>
		<span class="Url">PDF:&nbsp;<a href="http://users.rsise.anu.edu.au/~rod/papers/2013/book-front.pdf" target="_blank">book-front.pdf</a></span>
		<span class="Url">Google-Scholar:&nbsp;<a href="http://scholar.google.com.au/scholar?q=allintitle%3A+Hilbert+Space+Methods+in+Signal+Processing" target="_blank">[41]</a></span>
			<!-- Abstract -->
		<div id="Kennedy-book:2013_abstract" class="Abstract-toggle" style="display:none">
			<div class="Abstract">
				<strong>Abstract:</strong> This lively and accessible book describes the theory and applications of Hilbert spaces and also presents the history of the subject to reveal the ideas behind theorems and the human struggle that led to them. The authors begin by establishing the concept of 'countably infinite', which is central to the proper understanding of separable Hilbert spaces. Fundamental ideas such as convergence, completeness and dense sets are first demonstrated through simple familiar examples and then formalised. Having addressed fundamental topics in Hilbert spaces, the authors then go on to cover the theory of bounded, compact and integral operators at an advanced but accessible level. Finally, the theory is put into action, considering signal processing on the unit sphere, as well as reproducing kernel Hilbert spaces. The text is interspersed with historical comments about central figures in the development of the theory, which helps bring the subject to life.
			</div>
		</div>
		<!-- Bibtex -->
	  <div id="Kennedy-book:2013_bibtex" class="Bibtex-toggle" style="display:none">
		  <div class="Bibtex">
		    <span>@book{Kennedy-book:2013,<br>title = {Hilbert Space Methods in Signal Processing},<br>author = {Kennedy, R. A. and Sadeghi, P.},<br>publisher = {Cambridge University Press},<br>address = {Cambridge, UK},<br>month = {March},<br>year = {2013}}</span>
			</div>
	  </div>
	</div>

<!--{% endraw %}-->
</div>
