<div id="content">
<!--{% raw %}-->
<!-- Paper Title: On the Choice of Window for Spatial Smoothing of Spherical Data -->
<!-- Authors: Z. Khalid, R. A. Kennedy, and S. Durrani -->
	<div class="Bibentry">[1]
		<span class="Author">Z. Khalid, R. A. Kennedy, and S. Durrani, </span>
		<span class="Title">"On the Choice of Window for Spatial Smoothing of Spherical Data", </span>
		<span class="Booktitle">Proc. IEEE Int. Conf. Acoustics, Speech and Signal Processing, ICASSP'2014, </span>
		<span class="Address">Florence, Italy, </span>
		<span class="Pages">pp.&nbsp;2644-2648, </span>
		<span class="Month">May </span>
		<span class="Date">2014.</span>
		<div class="CheckBoxes">
			<form>
				<input type="button" value="Abstract" onclick="toggle('KennedyC2014b_abstract');">&nbsp;<input type="button" value="BibTeX" onclick="toggle('KennedyC2014b_bibtex');">
			</form>
		</div>
		<span class="Url">DOI:&nbsp;<a href="http://dx.doi.org/10.1109/ICASSP.2014.6854079" target="_blank">10.1109/ICASSP.2014.6854079</a></span>
		<span class="Url">PDF:&nbsp;<a href="http://users.rsise.anu.edu.au/~rod/papers/2014/06854079.pdf" target="_blank">06854079.pdf</a></span>
		<span class="Url">Google-Scholar:&nbsp;<a href="http://scholar.google.com.au/scholar?q=On+the+Choice+of+Window+for+Spatial+Smoothing+of+Spherical+Data" target="_blank">[2]</a></span>
			<!-- Abstract -->
		<div id="KennedyC2014b_abstract" class="Abstract-toggle" style="display:none">
			<div class="Abstract">
				<strong>Abstract:</strong> This paper investigates spectral filtering using isotropic spectral windows, which is a computationally efficient method of spatial smoothing on the sphere. We propose a Slepian eigenfunction window, which is obtained as a solution of the concentration problem on the sphere, as a good choice of the window function. We also unify a comprehensive set of quantitative tools, both spatial and spectral, to assess and compare the performance of different smoothing windows (i.e., smoothers). We analyze and compare the performance of the proposed window against the two best available candidates in the literature: von-Hann window and von Mises-Fisher distribution window. We establish that the latter window includes the popular Gauss window as a subcase. We show that the Slepian eigenfunction window has the smallest spatial variance (better spatial localization) and the smallest side-lobe level.
			</div>
		</div>
		<!-- Bibtex -->
	  <div id="KennedyC2014b_bibtex" class="Bibtex-toggle" style="display:none">
		  <div class="Bibtex">
		    <span>@inproceedings{KennedyC2014b,<br>title = {On the Choice of Window for Spatial Smoothing of Spherical Data},<br>author = {Khalid, Z. and Kennedy, R. A. and Durrani, S.},<br>booktitle = {Proc. IEEE Int. Conf. Acoustics, Speech and Signal Processing, ICASSP'2014},<br>address = {Florence, Italy},<br>pages = {2644-2648},<br>month = {May},<br>year = {2014}}</span>
			</div>
	  </div>
	</div>
<!-- Paper Title: Band-Limited Extrapolation on the Sphere for Signal Reconstruction in the Presence of Noise -->
<!-- Authors: Y. Alem, Z. Khalid, and R. A. Kennedy -->
	<div class="Bibentry">[2]
		<span class="Author">Y. Alem, Z. Khalid, and R. A. Kennedy, </span>
		<span class="Title">"Band-Limited Extrapolation on the Sphere for Signal Reconstruction in the Presence of Noise", </span>
		<span class="Booktitle">Proc. IEEE Int. Conf. Acoustics, Speech and Signal Processing, ICASSP'2014, </span>
		<span class="Address">Florence, Italy, </span>
		<span class="Pages">pp.&nbsp;4141-4145, </span>
		<span class="Month">May </span>
		<span class="Date">2014.</span>
		<div class="CheckBoxes">
			<form>
				<input type="button" value="Abstract" onclick="toggle('KennedyC2014c_abstract');">&nbsp;<input type="button" value="BibTeX" onclick="toggle('KennedyC2014c_bibtex');">
			</form>
		</div>
		<span class="Url">DOI:&nbsp;<a href="http://dx.doi.org/10.1109/ICASSP.2014.6854381" target="_blank">10.1109/ICASSP.2014.6854381</a></span>
		<span class="Url">PDF:&nbsp;<a href="http://users.rsise.anu.edu.au/~rod/papers/2014/06854381.pdf" target="_blank">06854381.pdf</a></span>
		<span class="Url">Google-Scholar:&nbsp;<a href="http://scholar.google.com.au/scholar?q=Band-Limited+Extrapolation+on+the+Sphere+for+Signal+Reconstruction+in+the+Presence+of+Noise" target="_blank">[1]</a></span>
			<!-- Abstract -->
		<div id="KennedyC2014c_abstract" class="Abstract-toggle" style="display:none">
			<div class="Abstract">
				<strong>Abstract:</strong> We investigate the problem of extrapolation of band-limited signals on the 2-sphere in the presence of noise. Specifically, given incomplete or spatially limited measurements subject to noise, find the unique extrapolation to the complete 2-sphere. We present an analytic solution to the extrapolation problem based on the expansion of a signal in Slepian basis corresponding to an orthogonal set of eigenfunctions of an associated energy concentration problem. An alternative equivalent iterative algorithm is also developed for practical implementation and guidelines are proposed to choose the parameters of the iterative algorithm. The capability of the proposed extrapolation is compared and demonstrated with the help of an illustration example.
			</div>
		</div>
		<!-- Bibtex -->
	  <div id="KennedyC2014c_bibtex" class="Bibtex-toggle" style="display:none">
		  <div class="Bibtex">
		    <span>@inproceedings{KennedyC2014c,<br>title = {Band-Limited Extrapolation on the Sphere for Signal Reconstruction in the Presence of Noise},<br>author = {Alem, Y. and Khalid, Z. and Kennedy, R. A.},<br>booktitle = {Proc. IEEE Int. Conf. Acoustics, Speech and Signal Processing, ICASSP'2014},<br>address = {Florence, Italy},<br>pages = {4141-4145},<br>month = {May},<br>year = {2014}}</span>
			</div>
	  </div>
	</div>
<!-- Paper Title: Efficient Kernel-Based Formulations of Spatio-Spectral and Related Transformations on the 2-Sphere -->
<!-- Authors: R. A. Kennedy, Z. Khalid, and P. Sadeghi -->
	<div class="Bibentry">[3]
		<span class="Author">R. A. Kennedy, Z. Khalid, and P. Sadeghi, </span>
		<span class="Title">"Efficient Kernel-Based Formulations of Spatio-Spectral and Related Transformations on the 2-Sphere", </span>
		<span class="Booktitle">Proc. IEEE Int. Conf. Acoustics, Speech and Signal Processing, ICASSP'2014, </span>
		<span class="Address">Florence, Italy, </span>
		<span class="Pages">pp.&nbsp;310-314, </span>
		<span class="Month">May </span>
		<span class="Date">2014.</span>
		<div class="CheckBoxes">
			<form>
				<input type="button" value="Abstract" onclick="toggle('KennedyC2014a_abstract');">&nbsp;<input type="button" value="BibTeX" onclick="toggle('KennedyC2014a_bibtex');">
			</form>
		</div>
		<span class="Url">DOI:&nbsp;<a href="http://dx.doi.org/10.1109/ICASSP.2014.6853608" target="_blank">10.1109/ICASSP.2014.6853608</a></span>
		<span class="Url">PDF:&nbsp;<a href="http://users.rsise.anu.edu.au/~rod/papers/2014/06853608.pdf" target="_blank">06853608.pdf</a></span>
		<span class="Url">Google-Scholar:&nbsp;<a href="http://scholar.google.com.au/scholar?q=Efficient+Kernel-Based+Formulations+of+Spatio-Spectral+and+Related+Transformations+on+the+2-Sphere" target="_blank">[link]</a></span>
			<!-- Abstract -->
		<div id="KennedyC2014a_abstract" class="Abstract-toggle" style="display:none">
			<div class="Abstract">
				<strong>Abstract:</strong> In this paper we show that the spatially localized spherical harmonic transform (SLSHT), which represents a signal on the 2-sphere in the spatio-spectral domain, can be efficiently computed using new kernel-based formulations. In addition to the standard spatio-spectral domain, we show there are three other related transforms that provide alternative representations in the spatio-spatial, spectro-spatial and spectro-spectral domains. We provide inversion results that extend available results for the SLSHT. We show that for signals on the 2-sphere band-limited to degree $L$, the computational complexity using our class of kernel-based SLSHT transforms is $O(L^4)$ and outperforms the previous best known fast methods, which have complexity $O(L^5)$.
			</div>
		</div>
		<!-- Bibtex -->
	  <div id="KennedyC2014a_bibtex" class="Bibtex-toggle" style="display:none">
		  <div class="Bibtex">
		    <span>@inproceedings{KennedyC2014a,<br>title = {Efficient Kernel-Based Formulations of Spatio-Spectral and Related Transformations on the 2-Sphere},<br>author = {Kennedy, R. A. and Khalid, Z. and Sadeghi, P.},<br>booktitle = {Proc. IEEE Int. Conf. Acoustics, Speech and Signal Processing, ICASSP'2014},<br>address = {Florence, Italy},<br>pages = {310-314},<br>month = {May},<br>year = {2014}}</span>
			</div>
	  </div>
	</div>

<!--{% endraw %}-->
</div>
